<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LenderCrmServiceEnvironment" value="DEV"/>
    <add key="LenderBusinessUnit" value="CRM"/>
    <add key="LenderApplicationToken" value="ee37e594-32bd-4fbe-baf4-2b5b3a75c576"/>
    <add key="LenderLeadAdmin" value="ec4fb50d-ec7e-e811-8183-e0071b6ac101"/>
    <add key="LenderLoanOfficer" value="e46a3a48-08f2-e611-8126-5065f38afa81"/>
  </appSettings>
</configuration>
