<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Base configuration - will be overridden by environment-specific configs -->
    <add key="ApplicationToken" value="" />
    <add key="BaseUrl" value="https://myqueuerss.u.vu.local/" />
    <add key="UseMockImplementation" value="false" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
