<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <!-- Realty CRM Configuration -->
        <add key="RealtyApplicationToken" value="e8686d45-b882-4f31-92d1-b0312877d0b7" />
        <add key="RealtyBusinessUnit" value="RSS" />
        <add key="RealtyCrmServiceEnvironment" value="UAT" />
        <add key="RealtyLeadAdmin" value="c5f10e5c-694a-e911-a831-000d3a1a274b" />
    </appSettings>
</configuration>
