<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Realty CRM Configuration -->
    <add key="RealtyCrmServiceEnvironment" value="UAT" />
    <add key="RealtyBusinessUnit" value="CRM" />
    <add key="RealtyApplicationToken" value="5fd908a7-6781-4672-8254-564eb38ea40d" />
    <add key="RealtyLeadAdmin" value="TBD" />
    <add key="RealtyLoanOfficer" value="TBD" />
  </appSettings>
</configuration>
